@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    font-family: 'Balsamiq Sans', cursive;
    color: white; 
    background-color:black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#sign1 { 
    margin-top: 100px;
    margin-left: 350px; 
    width: 50vw;
    height: 18vh;
    background-color: red; 
    border-style: groove;
    border-color: black;
    border-radius: 100px 100px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign2 { 
    width: 48vw;
    height: 16vh;
    background-color: red; 
    border-style: dotted;
    border-color: white;
    border-radius: 100px 100px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sign3 { 
    width: 46vw;
    height: 14vh;
    background-color: red; 
    border-radius: 100px 100px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#machine {
    margin-left: 92px; 
    width: 84vw;
    height: 56vh;
    background: red;
    border-style: groove;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#handle {
    margin-top: 0.2px; 
    margin-left: 86vw;
    width: 30px;
    height: 140px;
    position: absolute;
    cursor: pointer;
}

.stick1 {
    width: 1.25vw;
    height: 20vh;
    background: rgb(255, 188, 17);
    border-style: groove;
    border-color: black;
    position: absolute;
}

.stick2 {
    margin-top: 20px;
    margin-left: 22px; 
    width: 1.25vw;
    height: 15vh;
    background: rgb(255, 188, 17);
    border-style: groove;
    border-color: black;
    position: absolute;
}

.stick3 { 
    margin-top: 40px;
    margin-left: 44px; 
    width: 1.25vw;
    height: 10vh;
    background: rgb(255, 188, 17);
    border-style: groove;
    border-color: black;
    position: absolute;
}

.stick4 {  
    margin-top: -39px;
    margin-left: 48px;
    width: 0.5vw;
    height: 10vh;
    background: rgb(255, 188, 17);
    border-style: groove;
    border-color: black;
}

.balls {
    margin-top: -129px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 100%;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#lights { 
    width: 82vw;
    height: 53vh;
    background: red;
    border-style: dotted; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    width: 80vw;
    height: 50vh;
    background: red;
    border-style: groove;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;
}
  
.door {
    margin: 5px;
    width: 100px;
    height: 150px;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden; 
}
  
.boxes {
    transition: transform 1s ease-in-out;
}
  
.box {
    font-size: 3rem;
    color: white; 
    background-color: rgb(255, 188, 17);
    border-style: groove;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.buttons {
    margin: 1rem 0 2rem 0;
}
  
button {
    margin: 0 0.2rem;
    padding: 10px 15px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: black; 
    background-color: rgb(255, 188, 17);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.red {
    color: red;
    font-weight: bold;
    border-style: groove;
    border-color: black; 
}

.info {
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

h1 { 
    font-size: 50px; 
    text-align: center;
    -webkit-text-fill-color: rgb(255, 188, 17);
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px; 
}

p { 
    font-size: 30px; 
    text-align: center;
    -webkit-text-fill-color: rgb(255, 188, 17);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}