@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    font-family: 'Balsamiq Sans', cursive;
    color: white; 
    background-color:black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#sign { 
    margin-top: 100px;
    margin-left: 350px; 
    width: 50vw;
    height: 18vh;
    background-color: rgb(255, 188, 17); 
    border-radius: 100px 100px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#machine {
    margin-left: 92px; 
    width: 84vw;
    height: 56vh;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lights { 
    width: 82vw;
    height: 53vh;
    background: red;
    border-style: dotted; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    width: 80vw;
    height: 50vh;
    background: red;
    border-style: groove;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;
}
  
.door {
    margin: 5px;
    width: 100px;
    height: 110px;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden; 
}
  
.boxes {
    transition: transform 1s ease-in-out;
}
  
.box {
    background-color: black;
    font-size: 3rem;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.buttons {
    margin: 1rem 0 2rem 0;
}
  
button {
    margin: 0 0.2rem;
    padding: 10px 15px;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: white; 
    background-color: rgb(255, 188, 17);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.info {
    bottom: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
}

h1 { 
    font-size: 50px; 
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px; 
}

p { 
    font-size: 30px; 
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}