@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body {
    width: 100vw;
    height: 70vh;
    margin: 0;
    padding: 0;
    color: white; 
    background-color:black;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: 'Balsamiq Sans', cursive;
}

#sign { 
    margin-top: 100px;
    margin-left: 350px; 
    width: 50vw;
    height: 10vw;
    background-color: goldenrod; 
    border-radius: 100px 100px 0 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#machine {
    margin-left: 80px;
    width: 85vw;
    height: 30vw;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app {
    width: 80vw;
    height: 25vw;
    background: red;
    border-style: groove;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.doors {
    display: flex;
}
  
.door {
    width: 100px;
    height: 110px;
    overflow: hidden;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}
  
.boxes {
    transition: transform 1s ease-in-out;
}
  
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: black;
    color: white; 
}
  
.buttons {
    margin: 1rem 0 2rem 0;
}
  
button {
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0 0.2rem;
    border: none;
    padding: 10px 15px;
    background-color: goldenrod;
    font-family: 'Courier New', Courier, monospace;
    color: white; 
    justify-content: center;
    align-items: center;
}
  
.info {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 { 
    text-align: center;
    font-size: 50px; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px; 
}

p { 
    text-align: center;
    font-size: 30px; 
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
}