@media only screen and (max-width: 600px) {
    #narrowScreen{
        background-color: purple;
    }
}

@media only screen and (min-width: 601px) {
    #narrowScreen{
        background-color: green;
    }
}

@media only screen and (min-width: 801px) {
    #wideScreen{
        background-color: lightblue;
    }
}

@media only screen and (max-width: 800px) {
    #wideScreen{
        background-color: red;
    }
}

@media only screen and (max-height: 500px) {
    #shortScreen{
        background-color: yellow;
    }
}

@media only screen and (min-height: 501px) {
    #shortScreen{
        background-color: turquoise;
    }
}

@media only screen and (min-height: 801px) {
    #tallScreen{
        background-color: orange;
    }
}

#tallScreen{
        background-color: lavender;
}